@model OrderVM

<div class="min-height-200px">
    <div class="page-header">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="title">
                    <h4>Customer Details</h4>
                </div>
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Customer Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="product-wrap bg-white text-center">
        <div class="product-detail-wrap mb-30">
            <div class="row flex-column w-50 ">
                <p> OrderTime: @Model.OrderTime</p>
                <p> Customer : @Model.Customer.Name</p>
                <p> Total : @Model.Price</p>

                <ul>

                    <li>
                        Products:
                        <ul>
                            @foreach (var item in Model.Products)
                            {
                                    <li>@item.Name</li>
                                    <li>@item.Price</li>
                            }
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>



